
*.zip
.DS_Store

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

node_modules
jspm_packages

# Optional npm cache directory
.npm

# Learn-specific .results.json
.results.json

# Ignore bundler config.
/.bundle

# Virtual env metadata
.venv

# pytest cache
.pytest_cache
__pycache__


.vscode
